@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Sanchez';
    src: url(./fonts/Sanchez-Regular.ttf);
}
@font-face {
    font-family: 'Hind';
    src: url(./fonts/HindSiliguri-Regular.ttf);
}
.wrappedUp{
    display: none;
}
.Butt{
    cursor: pointer;
}
.Butt:hover{

}
.institute,.deg,.Dates{
    display: flex;
    flex-direction: column;
}
form>div label{
    color: #24613b;
    font-family: 'Sanchez';
    font-size: 24px;
}
form>div input,form>input{
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    border-radius: 3px;
    padding: 3px 3px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    transition: all .2s ease;
    font-family: 'Hind';
}
form>div input:hover,form>input:hover{
    box-shadow: 0 0 0 0 #fff inset, #68a67d 0 0 0 2px;
}
form>div input:focus,form>input:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #68a67d 0 0 0 3px;
}
form>div input:invalid{
    color: red;
}
form>input{
    align-self: flex-end;
}
.Break{
    height: 5px;
    background-color: #24613b;
    border-radius: 10px;
}